<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Loja Imperio</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm py-3 border-bottom navbar-light">
        <div class="container">
            <a href="{% url 'pages:home' %}" class="navbar-brand">
                <span class="font-weight-bold h3">IMPERIO NETWORKS</span>
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/loja" class="nav-link lead mr-4 font-weight-bold">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link lead mr-4 font-weight-bold">Sobre a Loja</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        <br>
        
        <h1 class="font-weight-bold" style="padding-left: 70px;">Planos de Internet</h1>
        <br>

        {% for Loja in object_list %}
        <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="/media/{{ Loja.foto }}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">{{ Loja.nome_objeto }}</h5>
              <p class="card-text">{{ Loja.descricao }} <br> <strong>{{ Loja.preço }}</strong> <br> <strong>{{ Loja.disponibilidade }}</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>
        {% endfor %}
</body>
</html>