<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Loja Imperio</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm py-3 border-bottom navbar-light">
        <div class="container">
            <a href="{% url 'pages:home' %}" class="navbar-brand">
                <span class="font-weight-bold h3">IMPERIO NETWORKS</span>
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/loja" class="nav-link lead mr-4 font-weight-bold">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link lead mr-4 font-weight-bold">Sobre a Loja</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        <br>
        
        <h1 class="font-weight-bold" style="padding-left: 70px;">Planos e Produtos</h1>
        <br>

        <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/15m.jpg' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">15 MEGAS</h5>
              <p class="card-text">Internet Banda Larga <br> <strong>R$ 50,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/15m.jpg' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">25 MEGAS</h5>
              <p class="card-text">Internet Banda Larga <br> <strong>R$ 70,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/15m.jpg' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">35 MEGAS</h5>
              <p class="card-text">Internet Banda Larga <br> <strong>R$ 90,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/50m.jpg' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">40 MEGAS</h5>
              <p class="card-text">Internet Banda Larga <br> <strong>R$ 130,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/50m.jpg' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">45 MEGAS</h5>
              <p class="card-text">Internet Banda Larga <br> <strong>R$ 140,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/50m.jpg' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">50 MEGAS</h5>
              <p class="card-text">Internet Banda Larga <br> <strong>R$ 160,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>


          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/teclado.png' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">Teclado USB</h5>
              <p class="card-text">Teclado Custo Benefício <br> <strong>R$ 30,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/mouse.png' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">Mouse USB</h5>
              <p class="card-text">Teclado Custo Benefício <br> <strong>R$ 25,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/fone.png' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">Fone de Ouvido</h5>
              <p class="card-text">Headset Custo Benefício <br> <strong>R$ 90,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/roteador1.png' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">Roteador Intelbras RF 301K</h5>
              <p class="card-text">Nosso roteador de Entrada <br> <strong>R$ 130,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/roteador2.png' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">Roteador TP-LINK TL-WR940N</h5>
              <p class="card-text">Nosso roteador Intermediário <br> <strong>R$ 190,00</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem; display: inline-block; margin-left: 70px; padding: 15px;">
            <img src="{% static 'midia/roteador3.png' %}" class="card-img-top" alt="15m">
            <div class="card-body">
              <h5 class="card-title">Roteador INTELBRAS GIGABIT RG 1200</h5>
              <p class="card-text">Nosso roteador Avançado! <br> <strong>R$ 269,99</strong> <br> <strong>Disponivel</strong></p>
              <a href="/produtos/item">
                <button type="button" class="btn btn-primary" title="Comprar">Comprar</button><br>
              </a>
            </div>
          </div>
</body>
<br><br><br><br><br><br>
<footer>
  <style>
      footer{
          background: rgb(22,142,191);
          background: linear-gradient(90deg, rgba(22,142,191,1) 0%, rgba(7,178,243,1) 0%, rgba(41,3,255,1) 0%, rgba(27,173,228,1) 0%, rgba(3,104,255,1) 39%, rgba(3,46,255,1) 83%, rgba(3,50,255,1) 100%);
          color: white;
          padding: 10px;
          text-align: left;
          font-size: 20px;
          }
          a{
          text-decoration: none;
          color: white;}
          #seila1{
              text-align: center;
          }
  </style>

  <br>
  <h1><strong>Entre em contato Conosco!</strong></h1><br>
  <ul style="display: inline-block;">   
      <strong>CONTATO</strong>                                                                                                                                                          
          <li><a href="/contato"><strong>Entre em contato conosco!</strong><br></a></li>                                                             
          <li><a href="/contato"><strong>Entre com a administração</strong><br></a></li>
          <li><a href="/contato"><strong>Tire suas dúvidas</strong><br></a></li>
          <li><a href="/contato"><strong>Faça uma sugestão</strong><br></a></li>
  </ul>


  
  <ul style="display: inline-block;"> 
      <strong>SOBRE NOS!</strong>                                                                                                                                                        
          <li><a href="#"" target="_blank"><strong>Nossa história</strong><br></a></li>                                                             
          <li><a href="#"" target="_blank"><strong>Nossa localização</strong><br></a></li>
          <li><a href="#"" target="_blank"><strong>Nossa equipe</strong><br></a></li>
          <li><a href="#"" target="_blank"><strong>Nossos eventos</strong><br></a></li>
  </ul>





  <ul style="display: inline-block;"> 
      <strong>REDES SOCIAIS</strong>                                                                                                                                                        
          <li><a href="#"><strong>Facebook</strong><br></a></li>                                                             
          <li><a href="http://wa.me/557191149124" target="_blank"><strong>WhatsApp</strong><br></a></li>
          <li><a href="#"><strong>Instagran</strong><br></a></li>
          <li><a href="#"><strong>Twitter</strong><br></a></li>
  </ul>

  ____________________
  <strong style="display: inline-block; font-size: 30px;">IMPERIO NETWORKS</strong>
  <br><br>
</footer>

</html>